<div class="row">
  {{#each books}}
    <div class="col-sm-6">
      <div class="carta-book card w-50 m-4 mx-5" style="width: 18rem;">
  <img
    src={{img}}
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title title">{{title}}</h5>
  </div>
  <ul class="list-group list-group-flush ">
    <li class="list-group-item subtitle">{{subtitle}}</li>
    <li class="list-group-item">Number of pages: {{number_of_pages}}</li>
    <li class="list-group-item">Average reading time: {{avg}}Hs</li>
    <li class="list-group-item">Publish date: {{publish_date}}</li>
  </ul>
</div>
  </div>
  {{/each}}
  </div>
